<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%5p[%t] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- 需要详细日志，改为 DEBUG -->
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.mybatis" level="DEBUG"/>
    </Loggers>
</Configuration>
